.container{
    position: relative;
}

.price-ribbon{
    position: absolute;
    left: -.8rem;
    top: -.8rem;

    width: 8rem;
    height: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.container .price-ribbon::before{
    position: absolute;
    content: attr(data-before);
    width: 145%;
    height: 2rem;
    background: linear-gradient( 68.6deg,  rgba(79,183,131,1) 14.4%, rgba(254,235,151,1) 92.7% );
    
    color: rgb(8, 106, 57);
    text-align: center;
    line-height: 2rem;
    font-weight: 600;
    font-size: large;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);

    transform: rotate(-45deg) translateY(-1rem);
}
.container .price-ribbon::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;

    width: .8rem;
    height: .8rem;
    background-color: rgba(79,183,131,1);
    box-shadow: 7.2rem -7.2rem rgba(254,235,151,1);
    
    z-index: -1;
}