#card{
    width: 17rem;
}
#card img{
    height: 20rem;
    width: 17rem;
}

@media screen and (max-width: 575.98px) {
    #courseTitle{
        font-size: .9rem;
    }
    #courseName{
        font-size: .9rem;
    }
    #trainerQuali{
        font-size: .9rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.95px){
    #courseTitle{
        font-size: .9rem;
    }
    #courseName{
        font-size: .9rem;
    }
    #trainerQuali{
        font-size: .9rem;
    }
}

@media screen and (min-width: 768px) {
    #courseTitle{
        font-size: 1rem;
    }
    #courseName{
        font-size: 1rem;
    }
    #trainerQuali{
        font-size: 1rem;
    }
}


