@media screen and (max-width: 575.98px) {
    #carouselExample .carousel-item img{
        height: 10rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.95px){
    #carouselExample .carousel-item img{
        height: 30rem;
    }
}

@media screen and (min-width: 768px) {
    #carouselExample .carousel-item img{
        height: 20rem;
    }
}

@media screen and (min-width: 992px) {
    #carouselExample .carousel-item img{
        height: 25rem;
    }
}

.carousel-control-next-icon{
    width: 1rem;
    height: 1rem;
}
