table, th, td {
    border: 1px solid rgb(147, 147, 147);
    border-collapse: collapse;
}
th,td{
    white-space: nowrap;
    font-size: .8rem;
}
table{
    border-radius: 8px 8px 0px 0px;
}
table p{
    font-size: .8rem;
}

table img{
    margin-top: .2rem;
    height: 1.8rem;
    width: 1.8rem;
    object-fit: cover;
}


@media screen and (min-width: 768px) {
    td,th{
        font-size: .9rem;
    }
    table p{
        font-size: .9rem;
    }
    
}